{
    "rules": {
      "quotes": ["error", "single"],
      "max-len": ["error", {"code":100, "tabWidth": 4, "ignoreStrings": true,"ignoreTemplateLiterals": true, "ignoreComments":true}],
      "space-before-function-paren": 1
    },
    "parserOptions": {
      "ecmaVersion": 2018
    }
  }
  