{
    "extends": ["airbnb-base"],
    "env": {
      "mocha": true
    },
    "rules": {
      "semi": ["error",  "never", { "beforeStatementContinuationChars": "always" }],
      "import/prefer-default-export": "off",
      "class-methods-use-this": "off",
      "space-before-function-paren": "off",
      "camelcase": "off"
    },
    "parserOptions": {
      "ecmaVersion": 2019
    }
  }
  